<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Example Project</title>

  <link rel="stylesheet" href="css/application.css">
</head>

<body>

  <div id="main">
  </div>

  <script src="js/lib.js"></script>
  <script src="https://cdn.firebase.com/v0/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/backfire/0.3.0/backbone-firebase.min.js"></script>
  <script src="js/application.js"></script>
  
</body>

</html>